.menu {
  background-color: #a9a9a9;
  width: 100%;
  height: 35%;
  min-height: 240px;
}
.menu-button-container {
  position: relative;
  float: center;
  top: 25%;
  bottom: 25%;
  width: initial;
}
.menu-button {
  width: 15%;
  min-width: 200px;
  height: 20%;
}
